html {
  color-scheme: dark;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  // colors
  color: white;
  background: #1b1e29; //change
  //background-image: url("https://d14eu5yur8w3te.cloudfront.net/cstatic/landing-page-underlay.png");
  //filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
  /* background-repeat: no-repeat;
  background-size: cover; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1b1e29;
    background-image: url("https://d14eu5yur8w3te.cloudfront.net/cstatic/landing-page-underlay.png");
    object-fit: contain;
  }
} */
