@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    color-scheme: dark;
}
 :global html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: white;
    background: #1b1e29;
   /* background-repeat: no-repeat;
    background-size: cover;
    */
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
.container {
    padding: 0 0rem;
}
/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
   }
    body {
        color: white;
        background: #1b1e29;
        background-image: url("https://d14eu5yur8w3te.cloudfront.net/cstatic/landing-page-underlay.png");
        object-fit: contain;
   }
}
*/
